
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.wallpaper {
    width: auto;
    height: auto;
    background-image: url("/images/wallpaper01.jpg");
    background-size: contain;
}

.img-menu {
    background-color: #cebab5;
    padding: 0.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: 0.4s;
    /* outline: solid 5px #ffc2c3; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-menu:hover {
    transform: scale(1.2);

}

.img-eventos {
    background-color: #cebab5;
    padding: 0.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: 0.4s;
    /* outline: solid 5px #ffc2c3; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-eventos:hover {
    transform: scale(1.2);

}

.img-ubicacion {
    background-color: #cebab5;
    padding: 0.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: 0.4s;
    /* outline: solid 5px #ffc2c3; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-ubicacion:hover {
    transform: scale(1.2);
}


.switch-lang-icons-container {
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#8b6656, #402d25);
}

.switch-lang-icons-container a img {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lang-flag-container {
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    display: flex;
    margin: auto;
    margin-right: 1.4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#402d25, #8b6656);
}

.lang-flag-container a img {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-producto {
    display: flex;
    color: #a28c71;
    background-color: #cebab5;
    padding: 0.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: 0.4s;
    /* outline: solid 5px #ffc2c3; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-producto:hover {
    transform: scale(1.2);
}

video {
    display: flex;
    aspect-ratio: 1/1.5;
    margin: auto;
    margin-top: 0.8rem;
    box-shadow: 10px 55px 20px 5px rgba(101, 74, 62, 0.5);
}



.img-logo-tarjeta {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 90vh;
}

.scale-up-top {
    animation: scale-up-top 5s;
}

@keyframes scale-up-top {
    0% {
        transform: scale(.2);
        transform-origin: center top;
    }

    100% {
        transform: scale(1);
        transform-origin: center top;
    }
}

.three-cards-container {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(#cebab5, #e3d3cf);
    width: 88vw;
    opacity: 0.8;
    gap: 0.3rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
}

.three-cards-container:hover {
    opacity: 0.9;

}

.three-cards-container .three-cards-title {
    font-size: 4rem;
    color: #1c1411;
}

.three-cards-title:hover {
    transform: scale(1.1);
    transition: 2s;
}


.tarjeta1 {
    aspect-ratio: 17/8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5rem;
    align-items: center;
    align-content: center;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
}

.tarjeta1:hover {
    transform: scale(1.035);
    transition: 2s;
}


.tarjeta1 img {
    margin-left: 8rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
}

.tarjeta1 h1 {
    background-color: #ab7963;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    padding: 6rem;
    opacity: 0.9;
    margin: auto;
}

.tarjeta1 h1:hover {
    opacity: 1;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding: 5.8rem;
    background: linear-gradient(#ffc2c3, #e3d3cf)
}

.card p {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1c1411;
}

.card1 {
    display: flex;
    margin-right: 14rem;
    transition: 1.5s;
}

.card1 img {
    border-radius: 50%;
}

.card1:hover {
    transform: scale(1.15);
    background: linear-gradient(#ffc2c3, #ffd4d5);
}

.card2 {
    display: flex;
    margin-left: 17rem;
    transition: 1.75s;
}

.card2:hover {
    transform: scale(1.15);
    background: linear-gradient(#ffc2c3, #ffd4d5);
}

.card3 {
    display: flex;
    margin-right: 13rem;
    transition: 2s;
}

.card3:hover {
    transform: scale(1.15);
    background: linear-gradient(#ffc2c3, #ffd4d5);

}

.icon-child-container img {
    width: 2rem;
}

.icon-pet-container img {
    width: 2rem;
}

.cinta-img {
    max-width: 97vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);

}

.cinta-de-imagenes {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.cinta-de-imagenes img {
    display: flex;
    max-width: 14%;
    width: 50rem;
}

#cinta-img2 {
    margin-top: 1rem;
    max-width: 97vw;
    display: flex;
    flex-direction: row-reverse;
}

.slider-container2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 97vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
}

.slider-container2 ul {
    display: flex;
    animation: slide 14s infinite alternate linear;
    width: 400%;
}


.slider-container2 img {
    width: 97vw;
    height: 100vh;
}

.cinta-de-imagenes img:hover {
    transform: scale(1.5);
    transition: 2s;
    opacity: 1;
}

.ws-icon {
    margin-left: 0.5rem;
}

.hashtag {
    color: white;
}

.enfasis {
    color: rgb(133, 36, 36);
}

b {
    font-size: 4rem;
}


@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }


    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }


    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }


    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }


}
