html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
}

.wallpaper {
    width: 100%;
    height: 100vh; /* Asegura que la imagen cubra toda la altura de la pantalla */
    background-image: url("/images/wallpaper01.jpg");
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen */
    /* filter: brightness(0.5); */ /* Puedes ajustar el brillo si es necesario */
}

/* 
.gallery-item {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
} */

.card {
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    filter: brightness(0.9);
}

.card:hover{
    filter: brightness(0.7);
}

.card-title{
    font-size: none;
    font-style: normal;
}
.card-img-top {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-footer{
    display: flex;
    flex-direction: row;
     width: 100%;
     height: auto;
     justify-content: space-around;
}

.modal .modal-dialog{
    filter: brightness(0.9);
    background-color: rgba(5, 5, 61, 0.273);
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gallery{
    width: 85%;
    /* height: auto; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 126px);
    grid-template-rows: 200px;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.gallery-item{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 2; /* Ahora cada elemento medirá 266px más 1rem(aprox. 17px) de gap = 283px*/
    height: 273px;
    transition: 0.5% filter;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
}

.gallery-item:hover{
    filter: brightness(0.7);
    transform: scale(1.1);
}

.gallery-item:first-of-type{
    grid-column: 2/span 2;
}



b {
    font-size: 4rem;
}


button{
    background-color: rgb(110, 110, 153);
    text-align: center;
    color: aliceblue;
}
.button:hover{
    background-color: rgb(188, 122, 250);
    text-align: center;
}

#reposteria{
    display: grid;
    grid-template-columns: repeat(3,2fr); 
    flex-wrap: wrap;

    
    gap: 10px;
}

#reposteria h2{
    text-align: center;

}

@media (max-width: 768px) {
    #reposteria{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2,2fr); 
        flex-wrap: wrap;
    
        
        gap: 10px;
    }
    
    #reposteria h2{
        text-align: center;
    
    }
}
