html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* font-family: 'Dancing Script', cursive; */
    box-sizing: border-box;
}


/* Estilos para las tarjetas */
.card {
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    transition: transform 0.3s;
    height: auto;
    width: 400px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 0;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px; /* Ajustar según necesidad */
    object-fit: cover;
}

.card-title {
    color: #333;
    font-weight: bold;
}

.hashtag {
    color: #6C757D;
}

/* Estilos para el título */
.divTitle {
    text-align: center;
    margin-bottom: 40px;
}

.title-h1 {
    font-size: 40px;
    color: #333;
}

/* Estilos para la sección de tres tarjetas */
.three-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-title{
    font-size: 28px;
}

/* Estilos para la sección de la tarjeta grande */
.tarjeta1 {
    margin-bottom: 20px;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .navbar-nav .nav-link {
        justify-content: center;
    }
    .three-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }
}

.banner-contenedor{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

p{
    font-size: 17px;
}

.wallpaper {
    width: 100%;
    height: 100vh; /* Asegura que la imagen cubra toda la altura de la pantalla */
    background-image: url("/images/wallpaper01.jpg");
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen */
    /* filter: brightness(0.5); */ /* Puedes ajustar el brillo si es necesario */
}

.carousel{
    padding: 40px;
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center;
    filter: brightness(0.9);
}

.carousel-item img {
    width: 100%;
    height: 60rem;
    object-fit: cover; 
    object-position: center;
    filter: brightness(0.6);
}

footer p{
    font-size: 27px;
}

/* 
.wallpaper {
    width: 100%;
    height: auto;
    background-image: url("/images/wallpaper01.jpg");
    /* filter: brightness(0.5); */
    /* background-size: cover; */
/* }*/ 


.logo {
    width: 7.5rem;
    display: flex;
    border-radius: 50%;
    border: 0.7rem solid #ffc2c3;
    transition: 1.5s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.logo:hover {
    transform: scale(1.22);
}


.cinta-img {
    max-width: 97vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
    margin: 20px;
    gap: 8px;
}

.cinta-de-imagenes {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.cinta-de-imagenes img {
    display: flex;
    max-width: 14%;
    width: 50rem;
}

#cinta-img2 {
    margin-top: 1rem;
    max-width: 97vw;
    display: flex;
    flex-direction: row-reverse;
}

.slider-container2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 97vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
}

.slider-container2 ul {
    display: flex;
    animation: slide 14s infinite alternate linear;
    width: 400%;
}

.slider-container2 img {
    width: 97vw;
    height: 100vh;
}

.cinta-de-imagenes img:hover {
    transform: scale(1.5);
    transition: 2s;
    opacity: 1;
}



.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    gap: 20px; /* Espacio entre las tarjetas */
    margin-top: 0.5rem;
    width: auto;
    height: auto;
}

.tarjeta {
    flex: 1 1 calc(50% - 1rem); /* Cada tarjeta ocupa el 50% del ancho menos el espacio entre ellas */
    box-shadow: 5px 5px 5px 5px rgba(101, 74, 62, 0.5);
    transition: transform 0.3s ease-in-out;
    background-color: #ab7963;
    padding: 2rem;
    text-align: center;
    opacity: 0.9;
}

.tarjeta:hover {
    transform: scale(1.035);
    opacity: 1;
}

.title {
    font-size: 3rem;
    color: #fff;
}

.hashtag {
    color: #ffeb3b;
}

@media (max-width: 768px) {
    .tarjeta {
        flex: 1 1 100%; /* En dispositivos pequeños, cada tarjeta ocupa el 100% del ancho */
    }
}



@keyframes slide {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
}


